<h1>User register</h1>
<form method="post" action="/registerData">
    <table border="1">
        <tr>
            <td> Name : </td>
            <td>
                <input type="text" name="name">
            </td>
        </tr>
        <tr>
            <td> Email : </td>
            <td>
                <input type="text" name="email">
            </td>
        </tr>
        <tr>
            <td> Password : </td>
            <td>
                <input type="text" name="password">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="submit">
            </td>
        </tr>
    </table>
</form>


<a href="/">Login</a>